body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

/* Title */

.heading {
  padding-top: 3rem;
}

.logo-img {
  width: 8%;
  padding-top: 1rem;
  background-color: antiquewhite;
}

/* Table */

#pointsTable {
  /* width: 20%; */
  margin: 8rem 0 4rem 35%;
}

/* Media Queries */
@media (min-width: 400px) and (max-width: 800px) {
  .logo-img {
    width: 20%;
  }

  #pointsTable {
    margin: 8rem 70% 4rem 20%;
  }
}
