#pointsTable {
  margin-top: 2%;
  margin-left: 25vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 50%;
}

#pointsTable tr,
#pointsTable th,
#pointsTable td {
  border: 1px solid gray;
}

#tbl-heading {
  font-size: 3vw;
  margin-top: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

thead {
  font-size: 17px;
  background: linear-gradient(to right, #bd37b2, #e9407a);
}

img {
  margin-left: 1vw;
  position: fixed;
  z-index: -1;
  opacity: 1;
  width: 12vw;
}

tr {
  transition: 1s;
}

tr:hover {
  background-color: rgba(128, 128, 128, 0.4);
}

@media (min-width: 1080px) {
  #pointsTable tr,
  #pointsTable th,
  #pointsTable td {
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  img {
    position: initial;
    z-index: -1;
    opacity: 1;
    width: 100vw;
    margin: 0;
  }
  #pointsTable {
    margin-left: 5vw;
    width: 90%;
  }
  #tbl-heading {
    font-size: 32px;
    margin-top: 32px;
  }
}
