@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

body {
  /* background: linear-gradient(
    -45deg,
    rgba(238, 119, 82, 0.8),
    rgba(231, 60, 126, 0.8),
    rgba(35, 166, 213, 0.8),
    rgba(35, 213, 171, 0.8)
  ); */
  background: linear-gradient(
    -45deg,
    rgba(236, 190, 176, 0.8),
    rgba(178, 219, 235, 0.8),
    rgba(189, 235, 224, 0.8)
  );
  background-size: 100% 100%;
  animation: gradient 20s ease infinite;
  /* height: 100vh; */
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* NAVBAR */
nav {
  background: rgba(23, 143, 255, 0.288);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover {
  color: #3a11cee7;
}
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: rgb(68, 0, 255);
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: #fff;
}
nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #3a11cee7;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover {
  background: #3a11ce;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: rgba(23, 143, 255, 0.288);
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
    background: #92cdf2;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: '';
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: rgba(23, 143, 255, 0.288);
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}

@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}

/* Title */

.heading {
  padding-top: 3rem;
  font-family: 'Proza Libre', sans-serif;
  font-weight: bold;
}
.textAnimation {
  color: #fff;
  font-family: 'Proza Libre', sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #095fab 10%, #25abe8 50%, #57d75b 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  /* display: inline; */
}
.subHeading {
  font-family: 'Proza Libre', sans-serif;
  /* font-family: 'Playfair Display', sans-serif; */
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.logo-img {
  padding-top: 1rem;
}

/* Table */

#pointsTable {
  /* width: 20%; */
  margin: 4rem auto;
}

/* Media Queries */
@media (min-width: 400px) and (max-width: 800px) {
  .logo-img {
    width: 20%;
  }

  #pointsTable {
    margin: 8rem auto;
  }
}

th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 0.5px;
  text-align: center;
  margin: 5px;
  padding: 10px;
}
th {
  background-color: rgb(11, 230, 29);
}
tr:hover {
  background-color: rgb(11, 230, 29);
}
